[mysqld]
# CONNECTIONS
max_connections = 1000
max_connect_errors = 1000000

# INNODB
innodb_adaptive_hash_index=0
innodb_log_file_size=512M
innodb_log_files_in_group=4
innodb_io_capacity=10000
innodb_io_capacity_max=40000
innodb_buffer_pool_size=2048M
innodb_buffer_pool_instances=2
innodb_page_cleaners=2
innodb_max_dirty_pages_pct=90
innodb_max_dirty_pages_pct_lwm=10
innodb_adaptive_flushing=1
innodb_flush_method=O_DIRECT_NO_FSYNC
innodb_use_native_aio=1
innodb_flush_log_at_trx_commit=2
sync_binlog=0

# REPLICATION
server-id=333
gtid_mode=ON
enforce_gtid_consistency=true
slave_parallel_type=LOGICAL_CLOCK
slave_parallel_workers=4
log-bin
log-slave-updates
relay_log_info_repository=TABLE
relay_log_recovery=ON
master_info_repository=TABLE
read_only=1
report_host=mysql3

# PMM QAN Perf Schema
performance_schema=ON
performance-schema-instrument='statement/%=ON'
performance-schema-consumer-statements-digest=ON
innodb_monitor_enable=all
