[mysqld]
innodb_log_file_size=512M
innodb_buffer_pool_size=256M
innodb_flush_log_at_trx_commit=2
sync_binlog=0
server-id=333
#gtid_mode=ON
#enforce_gtid_consistency=true

gtid_strict_mode=ON
plugin_load_add = semisync_master
plugin_load_add = semisync_slave

rpl_semi_sync_master_enabled=ON
rpl_semi_sync_slave_enabled=ON
rpl_semi_sync_master_timeout=20000
rpl_semi_sync_master_wait_point=AFTER_SYNC
slave_parallel_threads=4


log-bin
log-slave-updates
relay_log_info_repository=TABLE
relay_log_recovery=ON
master_info_repository=TABLE
read_only=1
report_host=mysql3
